# 📡 Network
PORT=3000
NEXTAUTH_URL="http://localhost:3000"

# 🕸️ Google
NEXT_PUBLIC_GOOGLE_AUTH="false"
GOOGLE_CLIENT_ID="CLIENTID"
GOOGLE_CLIENT_SECRET="CLIENTSECRET"

# 🔐 Authentication
AUTH_SECRET="AUTHSECRET"

# 📁 File Storage
UPLOAD_FOLDER="uploads"

# 🌌 Prisma
DATABASE_URL="file:prisma/database.sqlite"