/node_modules
/.next/
/out/
.env*
/prisma/database.*
/prisma/generated/*
/prisma/migrations/*
/uploads
*.pdn
/app/api/database
package-lock.json
bun.*
yarn.*
.vscode

# Capacitor
android/
ios/
.capacitor/