/* components/navigation/Navigation.module.css */

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--top-nav-height);
    width: 100vw;
    background-color: var(--nav-background);
    padding: 0 clamp(8px, 3vw, 20px);
    transition: filter 0.5s ease, background-color 0.5s ease, transform 0.8s ease, box-shadow 0.8s ease;
    z-index: 1000;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.logo {
    filter: drop-shadow(9px 5px 6.5px rgba(2, 1, 1, 0.25));
    transition: all 0.5s ease;
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: drop-shadow(9px 5px 6.5px rgba(255, 255, 255, 0.25));
    }
}

.title {
    font-size: var(--font-size-2xl);
    margin: 0 auto 0 clamp(8px, 3vw, 20px);
    color: var(--text);
    font-family: var(--font-poppins);
}

.searchContainer {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--top-nav-height);
    width: 100vw;
    padding: var(--spacing-base);
    z-index: 999;
}

.searchBox {
    width: 100%;
    height: 100%;
    background-color: var(--input-background);
    border-radius: clamp(12px, 4vw, 24px);
    padding: clamp(8px, 3vw, 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox .leftSide {
    display: flex;
    align-items: center;
    gap: clamp(8px, 2vw, 16px);
}

.searchBox h1 {
    color: var(--alt-text-2);
    font-size: var(--font-size-sm);
    font-weight: 400;
    font-family: var(--font-rubik);
}

.navigation.mobile {
    transform: translate(-100%, 0);
    width: 75%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    border-radius: 0 25px 25px 0;
    gap: 20px;
    box-shadow: 0;
    user-select: none;
    touch-action: none;
    overscroll-behavior-x: none;
}

.navigation.mobile.opened {
    transform: translate(0%, 0%);
}

.navigation.mobile::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 4px;
    height: 30px;
    background-color: var(--alt-text-2);
    border-radius: 2px;
    opacity: 0.3;
}

.navigation.mobile .titleContainer {
    margin: 5px;
    pointer-events: none;
}

.navigation.mobile .logo img {
    width: 45px;
    height: auto;
}

.navigation.mobile .title {
    font-size: 18px;
    margin-left: 10px;
}