/* /components/navigation/UserProfileDropdown.module.css */

.userProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--nav-user-profile-background);
    border: 3px solid var(--nav-user-profile-border);
    border-radius: 25px;
    padding: 2px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    cursor: pointer;
}

.userProfile span {
    font-size: 16px;
    color: var(--text);
    margin-left: 8px;
    user-select: none;
}

.userProfileImg {
    min-width: 30px;
    min-height: 30px;
    border: 1px solid var(--nav-user-profile-border);
    border-radius: 50%;
    background-color: var(--nav-user-profile-background);
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.userDropdown {
    display: none;
    position: absolute;
    width: 180px;
    height: auto;
    top: var(--top-nav-height);
    right: 15px;
    background-color: var(--nav-user-profile-background);
    border: 2px solid var(--nav-user-profile-border);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
    z-index: 2;
}

.userDropdown.show {
    display: block;
    animation: userDropdownShow 0.3s ease-in-out forwards;
}

@keyframes userDropdownShow {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.userDropdown.hide {
    display: none;
    animation: userDropdownHide 0.3s ease-in-out forwards;
}

@keyframes userDropdownHide {
    0% {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.userDropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.userDropdown li {
    color: var(--text);
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userDropdown li span {
    font-size: 16px;
}

.userDropdown li svg {
    width: 22px;
    height: 22px;
    color: var(--text);
    transition: color 0.3s ease;
}