<!DOCTYPE html>
<html lang="pl">

    <%- include('../partials/head.ejs') %>

        <body>
            <div class="container">
                <h1>PIK A BOO</h1>
            </div>
        </body>

        <%- include('../partials/scripts.ejs') %>


</html>