<!DOCTYPE html>
<html lang="pl">

    <head>
        <%- include('../partials/head.ejs') %>
    </head>

    <body>
        <div class="container">
            <h1>PIK A BOO</h1>
        </div>
    </body>

    <%- include('../partials/scripts.ejs') %>

</html>