<!DOCTYPE html>
<html lang="pl" data-bs-theme="dark">

    <%- include('../partials/head.ejs') %>

        <body class="app-light-theme">
            <div id="loading" class="w-100 h-100 position-absolute">
                <div class="text-center position-absolute top-50 start-50 translate-middle">
                    <div class="spinner-border" role="status"></div>
                    <p>Wczytywanie...</p>
                </div>
            </div>
            <div class="container">
                <%- include('../partials/header.ejs') %>
                    <div class="cloud">
                        <div class="adminBody">
                            <div class="adminBodyContainer">
                                <h1>hello</h1>
                                <h1>hello</h1>
                            </div>
                        </div>
                    </div>
        </body>

        <script src="javascript/Messages.js"></script>
        <script src="javascript/Cloud.js"></script>
        <%- include('../partials/scripts.ejs') %>


</html>