<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../assets/images/DraidLogo.png" type="image/x-icon">
        <title>
            <%= body[0] %>
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/styles/Main.css">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <div class="container">
                <form id="auth" class="needs-validation position-absolute top-50 start-50 translate-middle" novalidate
                    action="/login" method="POST">
                    <h2 class="text-center">Zaloguj się</h2>
                    <h3 id="error-message" class="text-center text-danger fs-6"></h3>
                    <div class="form-group mb-2">
                        <label for="email">Email adres <strong class="text-danger">*</strong></label>
                        <input type="email" class="form-control" id="email" placeholder="Wpisz mail" name="email"
                            required>
                        <div class="invalid-feedback">
                            Prosze wpisać maila!
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password">Hasło <strong class="text-danger">*</strong></label>
                        <input type="password" class="form-control" id="password" placeholder="Hasło" name="password"
                            maxlength="40" minlength="8" required>
                        <div class="invalid-feedback">
                            Prosze wpisać hasło!
                        </div>
                    </div>
                    <a href="/signup" class="text-muted">Nie masz konta? Zarejestruj się!</a>
                    <br>
                    <button type="submit" class="btn btn-primary mt-3">Zaloguj</button>
                </form>
            </div>
            <%- include('../partials/footer.ejs') %>
    </body>

    <script src="../assets/javascript/Error.js"></script>
    <script src="../assets/javascript/Validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</html>