<!DOCTYPE html>
<html lang="pl">

    <%- include('../partials/head.ejs') %>

        <body class="app-light-theme">
            <div class="app-container">
                <form id="auth" class="needs-validation position-absolute top-50 start-50 translate-middle" novalidate
                    action="/signup" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <h2 class="text-center">Zarejestruj się</h2>
                    <h3 id="message" class="text-center fs-6"></h3>
                    <div class="form-group mb-2">
                        <label for="email">Email adres <strong class="text-danger">*</strong></label>
                        <input type="email" autocomplete="username" class="form-control" id="email"
                            aria-describedby="emailHelp" placeholder="Wpisz mail" name="email" required>
                        <div class="invalid-feedback">
                            Prosze wpisać maila!
                        </div>
                        <small id="emailHelp" class="form-text text-muted">Nie podamy Twojego adresu e-mail nikomu
                            innemu.</small>
                        </br>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password1">Hasło <strong class="text-danger">*</strong></label>
                        <input type="password" autocomplete="new-password" class="form-control" id="password1"
                            placeholder="Hasło" name="password1" maxlength="40" minlength="5" required>
                        <div class="invalid-feedback">
                            Prosze wpisać hasło!
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password2">Powtórz hasło <strong class="text-danger">*</strong></label>
                        <input type="password" autocomplete="new-password" class="form-control" id="password2"
                            placeholder="Hasło" name="password2" maxlength="40" minlength="5" required>
                        <div class="invalid-feedback">
                            Prosze powtórzyć hasło!
                        </div>
                    </div>
                    <a href="/login" class="text-muted">Masz już konto? Zaloguj się!</a>
                    <br>
                    <button type="submit" class="btn btn-primary mt-3">Zarejestruj</button>
                </form>
            </div>
        </body>

        <script src="javascript/Messages.js"></script>
        <script src="javascript/Validate.js"></script>
        <%- include('../partials/scripts.ejs') %>


</html>