:root {
  --background: #ffffff;
  --nav-background: #f1f1f1;
  --top-nav-height: 60px;
  --side-nav-width: 60px;
  --text: #181818;
  --alt-text-1: #CFCFCF;
  --alt-text-2: #ADADAD;
  --alt-text-3: #606060;
  --alt-svg-1: invert(83%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(99%) contrast(98%);
  --alt-svg-3: invert(37%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(93%) contrast(81%);
  --btn-background: #F2F2F2;
  --btn-disabled-background: #D8D8D8;
  --border-color: #CFCFCF;
  --border-color-hover: #606060;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --nav-background: #141414;
    --top-nav-height: 60px;
    --side-nav-width: 60px;
    --text: #ecedef;
    --alt-text-1: #606060;
    --alt-text-2: #ADADAD;
    --alt-text-3: #CFCFCF;
    --alt-svg-1: invert(37%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(93%) contrast(81%);
    --alt-svg-3: invert(83%) sepia(0%) saturate(0%) hue-rotate(193deg) brightness(99%) contrast(98%);
    --btn-background: #272727;
    --btn-disabled-background: #2c2c2c;
    --border-color: #575757;
    --border-color-hover: #888888;
  }

  html {
    color-scheme: dark;
  }
}


input:-webkit-autofill:focus,
input:-webkit-autofill {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent !important;
  -webkit-text-fill-color: var(--text) !important;
  color: var(--text) !important;
  appearance: none !important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-password-toggle-button {
  display: none !important;
  appearance: none;
}

input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: calc(var(--top-nav-height) + 10px) 10px 10px 10px;
  font-weight: 700;
  color: var(--text);
  background: var(--background);
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.error {
  position: absolute;
  top: 8%;
  font-family: var(--font-rubik);
  font-weight: 700;
  font-size: 20px;
  color: var(--alt-text-3);
  padding: 10px 30px;
  border-radius: 10px;
  border: 3px solid #606060;
  transition: all 1s ease-in-out;
  user-select: none;
}