div.loading {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

div.loading h1 {
    font-family: var(--font-rubik);
    font-weight: 500;
    font-size: 16px;
    color: #000;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.loading h1 svg {
    filter: invert(0%) sepia(100%) saturate(21%) hue-rotate(2deg) brightness(101%) contrast(107%);
    animation: spin 1s linear infinite;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}