/* public/styles/loading.module.css */

.loading {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.loading h1 {
    font-family: var(--font-rubik);
    font-weight: 500;
    font-size: 25px;
    color: var(--text);
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.softLoading {
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.softLoading svg {
    filter: invert(0%) sepia(100%) saturate(21%) hue-rotate(2deg) brightness(101%) contrast(107%);
    animation: spin 1s linear infinite;
}

.loading h1 svg {
    filter: invert(0%) sepia(100%) saturate(21%) hue-rotate(2deg) brightness(101%) contrast(107%);
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lightFadeIn {
    animation: lightFadeInAnimation 0.6s ease-out forwards;
}

.darkFadeIn {
    animation: darkFadeInAnimation 0.3s ease-out forwards;
}

.fadeOut.lightFade {
    animation: lightFadeOutAnimation 0.8s ease-in forwards;
}

.fadeOut.darkFade {
    animation: darkFadeOutAnimation 0.4s ease-in forwards;
}

@keyframes lightFadeInAnimation {
    from {
        opacity: 0;
        background-color: #ffffff;
    }

    to {
        opacity: 1;
        background-color: var(--background);
    }
}

@keyframes lightFadeOutAnimation {
    from {
        opacity: 1;
        background-color: var(--background);
    }

    to {
        opacity: 0;
        background-color: #ffffff;
        visibility: hidden;
    }
}

@keyframes darkFadeInAnimation {
    from {
        opacity: 0;
        background-color: #000000;
    }

    to {
        opacity: 1;
        background-color: var(--background);
    }
}

@keyframes darkFadeOutAnimation {
    from {
        opacity: 1;
        background-color: var(--background);
    }

    to {
        opacity: 0;
        background-color: #000000;
        visibility: hidden;
    }
}