/* /public/styles/main.module.css */

.main {
    height: calc(100lvh - var(--top-nav-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.controls {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: var(--nav-background);
}

.diskContainerRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.folderStructureSidebar {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: var(--nav-background);
    transition: background-color 0.5s ease;
}

.corner {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    filter: var(--nav-background-filter);
    transition: filter 0.5s ease;
}