.topBar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--top-nav-height);
    width: 100vw;
    background-color: #f1f1f1;
    padding: 0 15px;
    filter: drop-shadow(3px 0px 50px rgba(0, 0, 0, 0.05))
        /* filter: drop-shadow(3px 0px 50px rgba(0, 0, 0, 0.05)) drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.05)); */
}

.logo {
    filter: drop-shadow(9px 5px 6.5px rgba(0, 0, 0, 0.25));

}

.title {
    font-size: 24px;
    margin: 0 auto 0 15px;
}