.topBar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--top-nav-height);
    width: 100vw;
    background-color: var(--nav-background);
    padding: 0 15px;
    filter: drop-shadow(3px 0px 50px rgba(0, 0, 0, 0.05));
    /* filter: drop-shadow(3px 0px 50px rgba(0, 0, 0, 0.05)) drop-shadow(0px 3px 50px rgba(0, 0, 0, 0.05)); */
    transition: filter 0.5s ease, background-color 0.5s ease;
}

.logo {
    filter: drop-shadow(9px 5px 6.5px rgba(0, 0, 0, 0.25));
    transition: all 0.5s ease;
}


@media (prefers-color-scheme: dark) {
    .logo {
        filter: drop-shadow(9px 5px 6.5px rgba(255, 255, 255, 0.25));

    }
}

.title {
    font-size: 24px;
    margin: 0 auto 0 15px;
    color: var(--text);
}

.userProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--nav-user-profile-background);
    border: 3px solid var(--nav-user-profile-border);
    border-radius: 25px;
    padding: 2px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    cursor: pointer;
}

.userProfile span {
    font-size: 16px;
    color: var(--text);
    margin-left: 8px;
    user-select: none;
}

.userProfileImg {
    min-width: 30px;
    min-height: 30px;
    border: 1px solid var(--nav-user-profile-border);
    border-radius: 50%;
    background-color: var(--nav-user-profile-background);
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.userDropdown {
    display: none;
    position: absolute;
    width: 180px;
    height: auto;
    top: var(--top-nav-height);
    right: 15px;
    background-color: var(--nav-user-profile-background);
    border: 3px solid var(--nav-user-profile-border);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
    z-index: 2;
}

.userDropdown.show {
    display: block;
    animation: userDropdownShow 0.3s ease-in-out forwards;
}

@keyframes userDropdownShow {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.userDropdown.hide {
    display: none;
    animation: userDropdownHide 0.3s ease-in-out forwards;
}

@keyframes userDropdownHide {
    0% {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.userDropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.userDropdown li {
    color: var(--text);
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userDropdown li span {
    font-size: 16px;
}

.userDropdown li svg {
    width: 22px;
    height: 22px;
    /* filter: var(--alt-svg-2); */
    color: var(--text);
    /* transition: filter 0.3s ease; */
}