/* public/styles/signup.module.css */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--top-nav-height) - 20px);
    width: 100vw;
    box-sizing: border-box;
}

.title {
    font-size: clamp(50px, 10vw, 80px);
    line-height: clamp(80px, 9vw, 100px);
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.subtitle {
    font-size: clamp(20px, 3vw, 26px);
    font-weight: 600;
    color: var(--alt-text-2);
    text-align: center;
    max-width: clamp(250px, 50vw, 300px);
    margin: 0 auto clamp(30px, 5vw, 50px) auto;
    width: 100%;
}

.inputWithText {
    position: relative;
    margin: 3px auto 6px auto;
    width: clamp(280px, 50vw, 377px);
    min-height: 55px;
    height: clamp(55px, 10vw, 60px);
    border-radius: clamp(5px, 2vw, 10px);
    border: 3px solid var(--border-color);
    display: block;
    transition: all 0.5s ease;
}

.inputWithText:has(input:hover),
.inputWithText:has(input:focus),
.inputWithText:has(button:hover),
.inputWithText:has(button:focus) {
    border-color: var(--border-color-hover);
}

.inputWithText legend {
    position: absolute;
    top: 15px;
    left: 12px;
    padding: 0 4px;
    background-color: var(--background);
    user-select: none;
    font-family: var(--font-rubik);
    font-weight: 600;
    font-size: 20px;
    color: var(--alt-text-1);
    transition: all 0.5s ease;
}

.inputWithText:has(input:hover) legend,
.inputWithText:has(input:focus) legend,
.inputWithText:has(button:hover) legend,
.inputWithText:has(button:focus) legend {
    color: var(--alt-text-3);
}

.inputWithText:has(input:focus) legend,
.inputWithText:has(button:focus) legend,
.inputWithText:has(input:not([value=""])) legend {
    top: -10px;
    left: 12px;
    font-size: 15px;
}

.inputWithText input {
    position: absolute;
    top: -2px;
    width: 100%;
    height: 60px;
    padding: 0 12px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    font-family: var(--font-rubik);
    font-weight: 600;
    font-size: 23px;
    color: var(--text);
    transition: all 0.5s ease;
    outline: none;
}

.inputWithText:has(input:not([value=""]):not(:focus)) input {
    color: var(--alt-text-1);
}

.inputWithText input[type="password"] {
    padding: 0 55px 0 12px;
}

.inputWithText button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 13.5px;
    width: clamp(25px, 5vw, 30px);
    cursor: pointer;
}

.inputWithText button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    filter: var(--alt-svg-1);
    transition: all 0.5s ease;
}

.inputWithText:has(input:hover) button img,
.inputWithText:has(input:focus) button img,
.inputWithText:has(button:hover) button img,
.inputWithText:has(button:focus) button img {
    filter: var(--alt-svg-3);
}

.inputWithText input::placeholder {
    font-family: var(--font-rubik);
    font-weight: 400;
    font-size: 23px;
    color: var(--alt-text-2);
}

.passwordRequirements {
    width: clamp(280px, 50vw, 377px);
    height: clamp(70px, 15vw, 90px);
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
}

.passwordRequirements h1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: clamp(13px, 2.5vw, 16px);
    font-weight: 600;
    white-space: nowrap;
    color: var(--alt-text-1)
}

.passwordRequirements h1 svg {
    margin-top: 1px;
}

.signupButton {
    background-color: var(--btn-background);
    border: none;
    border-radius: 10px;
    height: clamp(50px, 10vw, 57px);
    width: clamp(280px, 50vw, 410px);
    font-family: var(--font-rubik);
    font-weight: 700;
    font-size: clamp(20px, 3vw, 24px);
    color: var(--text);
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
    margin: clamp(10px, 3vw, 15px) auto 0 auto;
    display: block;
}

.signupButton:disabled {
    cursor: not-allowed;
}

.signupButton:hover,
.signupButton:focus,
.signupButton:active,
.signupButton:disabled {
    background-color: var(--btn-disabled-background);
}

.loginLink {
    font-family: var(--font-rubik);
    font-weight: 600;
    font-size: clamp(13px, 2vw, 16px);
    color: var(--alt-text-2);
    margin: 10px auto 0 auto;
    text-align: center;
    display: block;
    width: auto;
}

@media (max-width: 500px) {
    .inputWithText legend {
        font-size: clamp(18px, 2.5vw, 20px);
    }

    .inputWithText input {
        font-size: clamp(20px, 3vw, 23px);
        top: -5px;
    }
}

@media (max-width: 425px) {
    .main {
        padding: 0 15px;
        align-items: center;
        justify-content: center;
    }

    .inputWithText,
    .signupButton {
        width: 100%;
        max-width: 350px;
    }

    .inputWithText legend {
        left: 7px;
    }

    .inputWithText:has(input:focus) legend,
    .inputWithText:has(button:focus) legend,
    .inputWithText:has(input:not([value=""])) legend {
        left: 7px;
    }
}

@media (max-width: 320px) {
    .main {
        padding: 0 10px;
    }

    .inputWithText,
    .signupButton {
        width: 100%;
    }
}