body {
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #444444;
    margin: 0;
    padding: 0;
}

form#login {
    width: 600px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: -50px 50px 100px #dedede,
        50px -50px 100px #ffffff;
    padding: 20px;
}